[Unit]
Description=Mount USB sticks
BindsTo=dev-%i.device
After=dev-%i.device

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/boot/dietpi/func/automount %I
ExecStop=/usr/bin/pumount /dev/%I
